
.contato {
    padding-top: 0;
    padding-bottom: 4rem;
    flex-shrink: 0;
    max-width: 100%; 
}

/*@media(min-width: 1500px) {
    .contato .container {
        padding-left: 12rem;
        padding-right: 12rem;
    }
} */


.contato-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.contato-titulo {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: -0.1125rem;
}

.contato-texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.82813rem; 
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.contato-email-titulo,
.contato-local-titulo, 
.contato-disponibilidade-titulo,
.contato-redesSociais-titulo {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.contato-email,
.contato-local,
.contato-disponibilidade, 
.contato-redesSociais {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.form {
    margin-top: 10rem !important; 
}

@media (min-width: 768px) { 
    .form {
        margin-top: 5rem; 
    }
}

.botao-enviar {
    color: var(--cor-terciaria);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    display: flex;
    width: 12.29588rem;
    height: 3rem;
    padding: 1rem 2rem;
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0;
    background: var(--cor-principal);
    border: none; 
}

.botao-enviar:hover {
    opacity: 0.9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.redesSociais-icones {
    display: flex;
    height: 2.5rem;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
    align-self: stretch;
}

.redesSociais-borda {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
}