
.footer {
    border-top: 1px solid;
    border-top-color: rgba(212, 117, 111, 0.3);
    display: flex;
    padding: 4.0625rem 0;
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 100%; 
}

.footer-titulo {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    letter-spacing: 0.075rem;
}

.footer-texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    max-width: 350px; 
    opacity: .8;
}

.navegacao-footer p {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.navegacao-link {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration: none;
}

.navegacao-link:hover {
    color: var(--cor-separador); 
    transform: translateY(-2px); 
    border: none;
    transition: all 0.3s ease-in-out;
}

.newsletter-footer {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.newsletter-frase {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; 
    letter-spacing: 0.01875rem;
}

.footer-termos {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; 
    letter-spacing: 0.01875rem;
}

.footer-termos a,
.footer-termos p {
    text-decoration: none;
    color: var(--cor-principal);
    opacity: .8;
}