
.header .navbar {
    color: var(--cor-principal);
    background: var(--cor-terciaria);
    font-size: var(--tipografia-principal);
    padding: .5rem 3rem; 
}

@media (min-width: 1500px) {
    .header .navbar .container-fluid,
    .hero .container {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}

.header .navbar-brand.header-nav--name {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    white-space: nowrap; 
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    color:var(--cor-principal);
}

.navbar .nav-link.nav--buttons {
    font-size: .8rem;
    border: none;
    border-radius: 15px;
    color: var(--cor-principal);
    white-space: nowrap;
    background: transparent;
    transition: all 0.25s ease;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 0.5rem 1rem;
}

.navbar .nav-link.nav--buttons:hover {
    background: var(--cor-secundaria);
    color: var(--cor-terciaria);
    transform: translateY(-1px);
    -webkit-box-shadow: 0px 10px 13px -7px var(--cor-principal), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px var(--cor-principal), 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar-nav {
    margin: auto;
}

.navbar-collapse {
    background-color: var(--cor-terciaria);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

@media (min-width: 992px) { 
    .navbar-collapse {
        background-color: transparent;
        padding: 0;
        margin-top: 0;
    }
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme="dark"] .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-nav--socialIcons {
    flex-shrink: 0; 
}

.nav--socialIcons {
    width: 14px;
    height: 14px;
    color: var(--cor-principal);
    transition: all 0.25s ease;
}

.nav--socialIcons:hover,
.btn-darkMode:hover {
    color: var(--cor-secundaria);
    transform: translateY(-2px) scale(1.2);
    border: none;
}

.btn-darkMode {
    color:var(--cor-principal);
    min-width: auto; 
    background-color: transparent;
    border: none;
    border-radius: 10px;
} 

