section .hero {
    height: 40rem;
}

.hero-titulo {
    color: var(--cor-principal);
    padding-top: 3.5rem;
    padding-left: 4rem;
    font-size: 4rem;
    font-weight: 400;
    white-space: pre-wrap; 
}

.hero-titulo span {
    display: inline-block; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out; 
}

.hero-titulo span.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero-tituloFront {
    color: var(--cor-secundaria);
    font-weight: 400;
    padding-left: 4rem;
    font-size: 3.5rem;
    flex-wrap: nowrap;
}

.hero-text {
    font-size: 1.5rem;
    padding-left: 4rem;
}

.btn-portifolio {
    border-radius: .5rem;
    background: var(--cor-principal);
    color: var(--cor-terciaria);
    margin-left: 4rem;

    &:hover {
        background: var(--cor-terciaria);
        color:var(--cor-principal);
        border: 1px solid var(--cor-principal);
        transform: scale(1.025);
        transition: ease-out;
    }
}

.btn-cv {
    border-radius: .5rem;
    border: 1px solid var(--cor-principal);
    background: var(--cor-terciaria);
    color: var(--cor-principal);
    margin-left: 4rem;

    &:hover {
        background: var(--cor-principal);
        color: var(--cor-terciaria);
        transform: scale(1.025);
        transition: ease-out;
    }
}

.hero-localizacao {
    background: var(--cor-terciaria);
    color: var(--cor-principal);
    padding-left: 4rem;
    font-size: .8rem;
    margin-top: 5rem;
}

