.hero {
    padding: 0 3rem;
    max-width: 100%;
}

@media (min-width: 1500px) {
    .hero {
        padding: 0 12rem;
    }
}

.separador,
.separador-sobre {
    width: 4rem;
    height: .06rem;
    flex-shrink: 0;
    background: var(--cor-separador);
}

.separador-sobre {
    margin-bottom: 2rem;
}

.hero-content-text {
    width: 100%;
}

.hero-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
    font-size: clamp(2rem, 4.5vw, 7rem);
    font-family: "Cormorant Garamond", serif;
    color: var(--cor-principal);
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: .08rem;
    text-align: center;
    animation: tracking-in-contract 7s forwards;
   
}

.hero-chamada {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.85rem;
    letter-spacing: 0.03rem;
    margin-bottom: 1.5rem;
     
}

.hero-text {
    width: 90%;
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.43rem;
    letter-spacing: 0.022rem;
    margin-bottom: 3rem;
}

.hero-links {
    padding-top: 1.5rem;
    height: 4.125rem;
    padding-top: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.link-iniciar,
.link-portifolio {
    width: 11.5rem;
    height: 3.125rem;
    padding: 1rem 2rem;
    align-items: flex-start;
    text-transform: uppercase;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

.link-iniciar {
    background: var(--cor-principal);
    color: var(--cor-terciaria);
}

.link-portifolio {
    color: var(--cor-principal);
    background: var(--cor-terciaria);
    border: 1px solid var(--cor-principal);
}

.container {
    gap: 5.5rem;
}
 
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: 0.08rem;
    opacity: 1;
  }
}

