
.portifolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    flex-shrink: 0;
    padding-top: 0; 
    padding-bottom: 2rem;
}

.ver-todos {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.ver-todos:hover {
    color: var(--cor-separador); 
    transform: translateY(-2px); 
    border: none;
}

.portifolio-principais {
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    gap: 3rem;
    align-self: stretch;
}

.texto-tag {
    color: var(--cor-principal);
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    opacity: 0.6;
}

.texto-titulo {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; 
    letter-spacing: -0.075rem;
    padding-top: .5rem;
}

.texto-frase {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42188rem; 
    letter-spacing: 0.02188rem;
   /* padding-top: 1.5rem; */
}

.container-tecs {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 2rem;
    flex-wrap: wrap; 
}

.container-tecs .tec {
    display: flex;
    padding: .5rem 1rem;
    align-items: flex-start;
    border: 1px solid var(--cor-separador);
    background: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.0375rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem; 
}

.tec-ver {
    display: inline-flex;
    height: 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.57425rem;
    flex-shrink: 0;
    padding-top: 1.8rem;
    text-decoration: none;
    color: var( --cor-terciaria);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.tec-ver:hover {
    color: var(--cor-separador); 
    transform: translateY(-2px); 
    border: none;
}
