.processo {
    display: flex;
    width: 58rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.processo .section-title {
    color: var(--cor-principal);
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; 
    letter-spacing: -0.1125rem;
    margin-bottom: 1.5rem;
}

