.servicos {
    padding-top: 0px;
}

.servicos-texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.82813rem; 
    flex-shrink: 0;
    margin-top: 1.5rem !important;
    margin-bottom: 2rem;
}

.servicos-front {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.icon {
    display: flex;
    color: var(--cor-principal);
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-separador);
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86); 
    box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86);
}

.icon svg {
    stroke: var(--cor-principal);
}

.icon-icon {
    width: 1.25rem;
}

.servicos-subTitle {
    margin-top: 1.44rem;
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; 
    letter-spacing: -0.04688rem;
}

.responsivo p,
.performance p,
.design-sistem p,
.servicos-front p {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42188rem; 
    letter-spacing: 0.02188rem;
    padding-bottom: 1rem;
}

li::marker {
    color: var(--cor-separador);
}

.design-sistem {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.performance {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.responsivo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

ul li p {
    font-size: .9rem;
}
