.sobre {
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 100%;
}

@media (min-width: 1500px) {
    .sobre {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.container {
    background-size: cover;
}

.separador-sobre {
    margin-top: 4rem;
}

.img-self {
    max-width: 100%;
    height: auto;
    width: 100%;
    animation: fade-in-left 1.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sobre-destaque {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4375rem;
}

.sobre-texto {
    color:  var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; 
    letter-spacing: 0.02188rem;
}

.sobre-infoDados {
    border-top: 1px solid var(--cor-separador);
    padding-top: 2.0625rem;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.sobre-dados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.sobre-dados .numero {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
}

.sobre-dados .texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
}

.especialidades {
    padding-top: 3rem;
    padding-bottom:1rem;
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.card {
    display: flex;
    width:auto;
    height: 2.125rem;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 0.75rem;
    background: var(--cor-terciaria);
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-separador);
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86); 
    box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86);
}

.card p {
    color: var(--cor-principal);
    font-family:  "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.0375rem;
    padding: 0.5rem 1rem;
}