
.sobre {
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 100%;
}

.sobre .section-title {
    padding-bottom: 1.5rem;
}

@media (min-width: 1500px) {
    .sobre {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.sobre-destaque {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4375rem;
}

.sobre-texto {
    color:  var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; 
    letter-spacing: 0.02188rem;
}

.sobre-infoDados {
    border-top: 1px solid var(--cor-separador);
    border-bottom: 1px solid var(--cor-separador);
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre-dados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    text-align: center; 
}

.sobre-dados .numero {
    color: var(--cor-principal);
    font-family: "Cormorant Garamond", serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
}

.sobre-dados .texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
}

.especialidades {
    padding-top: 3rem;
    padding-bottom:1rem;
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.card {
    display: flex;
    width:auto;
    height: 2.125rem;
    padding: 0.5rem 1rem;
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0;
    margin-right: 0.75rem;
    background: var(--cor-terciaria);
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-separador);
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86); 
    box-shadow: 1px 2px 17px -9px rgba(113,113,130,0.86);
}

.card p {
    color: var(--cor-principal);
    font-family:  "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.0375rem;
}

.sobre-especialidades {
    border-top: 1px solid var(--cor-separador);
}