:root {
    --tipografia-principal: "Cormorant Garamond", serif;
    --cor-sombra:  0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    --cor-principal: #171717;
    --cor-secundaria: #717182;
    --cor-separador: #D4756F;
    --cor-terciaria: #F8F8F8;
    --cor-bg: linear-gradient(180deg, #ffffff, #d3bcac, #ffffff);
}

[data-theme="dark"] {
    --cor-principal:  #F8F8F8;
    --cor-terciaria: #171717;
    --cor-separador: #D4756F;
    --cor-secundaria: #717182;
}
