
@import url(_variaveis.css);
@import url(_header.css);
@import url(_hero.css);
@import url(_sobre.css);
@import url(_servicos.css);
@import url(_habilidades.css);
@import url(_portifolio.css);
@import url(_processo.css);
@import url(_contato.css);
@import url(_footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 100vh;
  overflow-x: hidden;
  background: var(--cor-terciaria);
}

main {
  padding: 0 6rem;
}

.section-title {
  color: var(--cor-principal);
  font-family: "Cormorant Garamond", serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem; /* 100% */
  letter-spacing: -0.09375rem;
} 



